@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
:root {
    /* Primary colors */
    --blue: #0097d0;
    --yellow: #ff9a10;
    --green: #00b356;
    --red: #d75235;
    /* Neutral colors */
    --white: #ffffff;
    --black: #000000;
    --light-gray: #f5f5f5;
    --medium-gray: #cccccc;
    --dark-gray: #666666;
    /* State colors */
    --success: var(--green);
    --warning: var(--yellow);
    --error: var(--red);
    --info: var(--blue);
    /* Text colors */
    --text-primary: #333333;
    --text-secondary: #666666;
    --text-disabled: #999999;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    background-color: var(--blue);
    /* Light gray background - you can change this to any color you want */
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

body p,
input {
    font-family: 'Roboto Slab', serif;
}

button {
    font-family: 'Roboto Slab', serif;
}

.page-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100vh;
}

.blue-background h1 {
    color: white;
}

.white-background {
    background-color: white;
}

.white-background h1,
.white-background h2,
.white-background h3,
.white-background h4,
.white-background h5,
.white-background h6 {
    color: var(--blue);
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

button.blue-outline {
    background-color: var(--blue);
    color: white;
    border: 2px solid white;
}

form {
    width: 100%;
}

input {
    width: 100%;
    padding: 5px;
    border: 1px solid var(--blue);
    height: 40px;
    text-indent: 10px;
}

.login-page form {
    max-width: 350px;
}

.login-page form button[type="submit"] {
    width: 100%;
    height: 50px;
    padding: 5px;
    font-size: 18px;
    border-radius: 8px;
    text-transform: uppercase;
}

.login-page form input::placeholder {
    color: var(--blue);
    text-transform: uppercase;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    align-items: center;
    color: white;
}

.header-container-left {
    display: flex;
    gap: 30px;
}

.header-container img.ronda-logo {
    width: 150px;
    height: auto;
}

.css-rizt0-MuiTypography-root {
    text-align: center;
}

.css-1vq2j8x-MuiPaper-root-MuiDrawer-paper {
    margin-top: 100px;
}

.css-b7dj7n-MuiList-root {
    height: calc(100vh - 100px);
}

.css-4nmryk-MuiBackdrop-root-MuiModal-backdrop {
    background-color: transparent !important;
}

.css-132tazh {
    background-color: white !important;
    color: var(--blue) !important;
}